body {
  background-color: rgb(228, 231, 27);
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  background-color: rgb(80, 47, 5);
  padding: 2rem;
  color: white;
  margin: 0;
  text-transform: uppercase;
}

.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.content {
  width: 90%;
  display: flex;
  margin: 4rem;
}

.left-content {
  width: 60%;
  text-align: left;
}
.right-content {
  width: 100%;
  /* text-align: right; */
}
footer {
  background-color: rgb(65, 117, 196);
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
